{% extends "base.html" %}
{% block content %}

<div class="card shadow-sm col-md-6">
    <div class="card-body">
        <h5>Add Student</h5>

        <form method="POST">
            <div class="mb-3">
                <label>Name</label>
                <input type="text" name="name" class="form-control" required>
            </div>

            <div class="mb-3">
                <label>Email</label>
                <input type="email" name="email" class="form-control" required>
            </div>

            <div class="mb-3">
                <label>Phone</label>
                <input type="text" name="phone" class="form-control" required>
            </div>

            <button class="btn btn-success">Save</button>
            <a href="/students" class="btn btn-secondary">Back</a>
        </form>
    </div>
</div>

{% endblock %}
